/* Estilos gerais */
body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(254, 254, 254);
    margin-bottom: 20px;
}

/* Estilizar a classe .center-img para centralizar as imagens */
.center-img {
    text-align: center;
}

/* Adicione estilos específicos para diferentes tamanhos de tela usando Media Queries */
/* Por exemplo, para telas menores que 768px */
@media (max-width: 768px) {
    /* Insira estilos aqui para tamanhos menores de tela */
    .main1 {
        padding: 30px;
        margin: 10px;
    }
    p {
        font-size: 18px;
    }
    .section1 {
        padding-bottom: 30px; /* Ajuste a altura do padding para melhorar a aparência em dispositivos móveis */
    }
    .center-img img {
        max-width: 100%; /* Para garantir que as imagens se ajustem ao tamanho da tela */
    }
}

/* Para telas maiores que 768px */
@media (min-width: 768px) {
    /* Insira estilos aqui para tamanhos maiores de tela */
    .main1 {
        padding: 60px;
        margin: 60px;
    }
    p {
        font-size: 24px;
    }
    .center-img img {
        max-width: 100%; /* Para garantir que as imagens se ajustem ao tamanho da tela */
    }
}

.section1 {
    background-color: rgb(221, 221, 221);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 100px;
}
.main1 {
    background-color: rgb(255, 255, 255);
    padding: 60px;
    padding-bottom: 0.1px;
    margin: 60px;
}
p {
    text-align: center;
    font-size: 24px;
}

/* Para dispositivos móveis com largura de até 414px */
@media (max-width: 414px) {
    .center-img-footer {
        max-width: 100%; /* Para garantir que as imagens se ajustem ao tamanho da tela */

    }
    .main1 {
        padding: 20px;
        margin: 10px;
    }
    p {
        font-size: 18px;
    }
}
