/* Estilos gerais */
body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(254, 254, 254);
    margin-bottom: 20px;
    
    
   
    
}

/* Estilizar a classe .center-img para centralizar as imagens */
.center-img {
    text-align: center;
    
}

/* Adicione estilos específicos para diferentes tamanhos de tela usando Media Queries */
/* Por exemplo, para telas menores que 768px */
@media (max-width: 768px) {
    /* Insira estilos aqui para tamanhos menores de tela */
}

/* Para telas maiores que 768px */
@media (min-width: 768px) {
    /* Insira estilos aqui para tamanhos maiores de tela */
}

.section1{
    background-color: rgb(221, 221, 221);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 100px;
    padding-bottom: -10px;
   

    
}
.main1{
    background-color: rgb(255, 255, 255);
    padding: 60px ;
    padding-bottom: 0.1px;
    margin: 60px ;
    
    
    
}
p{
    text-align: center;
    font-size: 24px;
}