/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilizar a div com o background em camadas */
.layered-background {
    height: 100vh; /* Altura ocupando toda a tela */
    background-image: linear-gradient(white, white), linear-gradient(gray, gray), linear-gradient(white, white);
    background-position: top, center, bottom;
    background-size: 100% 30%, 100% 40%, 100% 30%;
    background-repeat: no-repeat;
}
